<!DOCTYPE html>
<html>
  <head>
    <title>翻譯軟體</title>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="translator/static\css\2.css" />
  </head>

  <body>
    <h1>翻譯軟體</h1>
    <div class="shadowbox">
      <form method="get" id="main" name="main" action="">
        <button type="button" value="zh-tw" onclick="fun_word(this)">
          中文
        </button>
        <button type="button" value="en" onclick="fun_word(this)">英文</button>
        <button type="button" value="ja" onclick="fun_word(this)">日文</button>
        <button type="button" value="ko" onclick="fun_word(this)">韓文</button>

        <textarea type="text" id="input_word" name="langw" hidden>
{{langwtxt}}</textarea
        >
        <!--tr_lang-->

        <textarea
          placeholder="輸入要翻譯的文字"
          name="tword"
          required="required"
        >
{{translate_word}}</textarea
        >

        <input
          type="submit"
          name="translate"
          width="35"
          value="翻譯"
          onclick="changeaction(0)"
        />

        <br />
        <br />

        <button type="button" name="listening" onclick="changeaction(1)">
          <img src="static\麥克風.png" width="35" />
        </button>

        <br />

        <button type="button" name="play1" onclick="changeaction(2)">
          <img src="static\喇叭.png" width="35" />
        </button>

        <h2>翻譯結果：</h2>

        <button type="button" value="zh-tw" onclick="fun_result(this)">
          中文
        </button>
        <button type="button" value="en" onclick="fun_result(this)">
          英文
        </button>
        <button type="button" value="ja" onclick="fun_result(this)">
          日文
        </button>
        <button type="button" value="ko" onclick="fun_result(this)">
          韓文
        </button>

        <textarea type="text" id="input_result" name="langre" value="" hidden>
{{langretxt}}</textarea
        >
        <!--re_lang-->

        <textarea
          id="res"
          placeholder="查詢結果"
          name="tresult"
          readonly="readonly"
        >
{{translate_result}}</textarea
        >

        <button type="button" name="play2" onclick="changeaction(3)">
          <img src="static/喇叭.png" width="35" />
        </button>
        <button type="button" onclick="CopyTextToClipboard('res')">Copy</button>
      </form>
    </div>
    <script src="translator/static/js/3.js"></script>
  </body>
</html>
